.outline_button {
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 12500rem;
  background: linear-gradient(135deg, rgba(36, 225, 200, 0.08) 0.26%, rgba(100, 88, 228, 0.08) 99.74%);
  cursor: pointer;

  .wrapper {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 12500rem;
    background: var(--COLOR-BACKGROUND-WHITE, #FFF);
  }
}