.wrapper {
  border-radius: 1.25rem;
  background: linear-gradient(135deg, rgba(36, 225, 200, 0.08) 0.26%, rgba(100, 88, 228, 0.08) 99.74%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: center;

  .main_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;

    .content {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex: 1 0 0;
      align-self: stretch;

      .col1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        flex: 1 0 0;
        align-self: stretch;
      }
    }
  }
}